.idea/.name
.idea/encodings.xml
.idea/hist_calling.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
hise_input_file.tab
hise_input_file.tab.gz
make_diploidic_hist.py
mini_hise_input_file.tab
mini_hise_input_file.tab.gz
sim_hists.15o.pickle
*.pyc
order/__init__.pyc
order/binomial_sim.pyc
order/fitting.pyc
order/hist.pyc
order/histogram_utils.pyc
order/preprocessing.pyc
cor.hise_f30.calling.pickle
