Django==1.9.8
seaborn==0.7.1
-e git+https://github.com/NikiB/biopython.git@2f3951251c8d00edefacedbf6c0ccd84b5a8136f#egg=biopython
django-mptt==0.8.4
mysqlclient==1.3.7
spyne==2.12.11
django-extensions==1.6.7
django-model-utils==2.5
-e git+https://github.com/amosonn/frogress.git@bca0b7a21656b50c0d95cf1fc5000a50d275a627#egg=frogress
lxml==3.6.0
-e git+https://github.com/ofirr/dojango.git@2b0aecb07e6b68d4793aaaabc65adb10b3d90a8a#egg=dojango
-e git+https://github.com/ofirr/dojango-datable.git@c4d27c23d66c023062270a31f05e21d0982e0b43#egg=dojango_datable
Cython==0.23.5
pysam==0.9.0
plumbum==1.6.1.post0
primer3-py==0.5.1
distributed==1.18.0
dask==0.15.1
sqlparse==0.2.0
XlsxWriter==0.9.3
PyVCF==0.6.8
DendroPy==4.3.0
PeakUtils==1.1.0