# Django==1.8
-e git+https://github.com/amosonn/django@ae0438266417603cbc9ab1a9733be3a0c59a5181#egg=Django-origin
Fabric==1.10.0
cython==0.20.1
django-debug-toolbar==1.0.1
django-extensions==1.5.9
django-mptt==0.7.4
# dojango==0.5.7
-e git+https://github.com/amosonn/dojango.git@aaaead3e1c3d50cb1251b6951aeed71228018075#egg=dojango-master
-e git+https://github.com/ofirr/dojango-datable.git@04dce2169ed638175e2cfa4967e3ae9f996aeca5#egg=dojango_datable-master
ipython==3.1.0
iso8601==0.1.10
ludibrio==3.1.0
paramiko==1.15.1
pyreadline==2.0
pytz==2013.9
six==1.5.2
spyne==2.10.10
sqlparse==0.1.11
virtualenv==1.11.6
wsgiref==0.1.2
xlrd==0.9.3
xlwt==0.7.5
biopython==1.65
django-model-utils
mysqlclient
seaborn
lxml
